/*
 * Designer(s): Jon Knight, Mathew Ratliff
 * Date Last Edited: 3/04/2018
 ****
 * Reason for modification
 * Changed what happens when addBtn is hovered over (darkens)
 ****
 * Dependencies: Stylesheet for "desktop.PHP".
 */
 body {
   background-color: white;
 }

tr:hover >td {
  filter: drop-shadow(3px 3px 5px rgba(0,0,0,.35));
}
td
{
  font-size: 14px;
}

.form-control
{
  min-width: 0px;
}

.content-main
{
  margin-top: 80px;
}

.navbar
{
  background-color: #0066cc;
  border-bottom: solid medium #fcd955;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.navbar-nav > li
{
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.error
{
    background-color: rgba(255, 0, 0, 0.3);
}

.success
{
    background-color: rgba(0, 255, 0, 0.3);
}

#addBtn {
  color: white;
  background-color: #FCD955;
}
#addBtn:hover {
  background-color: rgba(252, 217, 85, 0.85);
}
