/*
 * Desginer(s): Jon Knight
 * Date Last Edited: 2/2/2018
 * Dependencies: Stylesheet for "mobile.HTML/PHP".
 */
body {
  background-color: ghostwhite;
}
td
{
    font-size: 14px;
}

.barcode
{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.navbar {
  margin-top: 0px;
  margin-bottom: 5px;
}
.navbar-default {
  background-color: #233b79;
  border-color: #fcd955;
  border-bottom-width: medium;
  border-left-width: medium;
  border-right-width: medium;
  border-top-width: 0px;
  border-bottom-style: solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

select {
  margin-top: -10px;
}
.panel
{
    margin-top: 15px;
}

.panel-heading:hover
{
    cursor: pointer;
}

.panel-title
{
    font-size: 14px;
}

#add-item
{
    font-size: 17px;
    color: black;
    width: 50px;
    height: 50px;
    background-color: #0066cc;
    border-radius: 100px;
    border: 2px solid black;
    position: fixed;
    margin-bottom: 15px;
    bottom: 0;
    margin-right: 15px;
    right: 0;
    z-index: 100
}

#add-item:active
{
    background-color: #004d99;
}

.mobile
{
  background-image: url('../img_assets/pelli.svg');
  background-size: 70% 90%;
  background-repeat: no-repeat;
  background-position: center;
  height: 69%;
  display: inherit;
  overflow-y:scroll;
  margin: 0px;
}
#items {
  opacity: 100%;
}
.navbar-nav > li
{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
