/*
 * Desginer(s): Jon Knight
 * Date Last Edited: 2/2/2018
 * Dependencies: Stylesheet for "mobile.HTML/PHP".
 */

td
{
    font-size: 14px;
}

.barcode
{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.navbar
{
    background-color: #0066cc;
    margin-bottom: 0px;
}

.panel
{
    margin-top: 15px;
}

.panel-heading:hover
{
    cursor: pointer;
}

.panel-title
{
    font-size: 14px;
}

#add-item
{
    font-size: 17px;
    color: black;
    width: 50px;
    height: 50px;
    background-color: #0066cc;
    border-radius: 100px;
    border: 2px solid black;
    position: fixed;
    margin-bottom: 15px;
    bottom: 0;
    margin-right: 15px;
    right: 0;
    z-index: 100
}

#add-item:active
{
    background-color: #004d99;
}

.mobile
{
    height: 59%;
    display: inherit;
    overflow-y: scroll;
    margin: 0px;
}

.navbar-nav > li
{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}